In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
datas = pd.date_range('20170401',periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index=datas, columns = list('ABCD'))
df

                   A         B         C         D
2017-04-01 -0.540900 -1.120177  0.049173  0.055063
2017-04-02  1.814557  0.416265  0.444505 -0.275219
2017-04-03 -0.702712  0.061803 -2.354837 -0.621331
2017-04-04  1.040999  1.447034  0.805599  0.076186
2017-04-05  1.049980 -1.110068  0.308732  0.464452
2017-04-06  0.443375  0.413454 -1.466119  0.297720

In [3]:
df1 = df.reindex(index=df.index(0:4),columns=df.columns+['E'])

SyntaxError: invalid syntax (<ipython-input-3-dde7517a444b>, line 1)

In [4]:
df1 = df.reindex(index=df.index[0:4],columns=df.columns + ['E'])

In [5]:
df1

            AE  BE  CE  DE
2017-04-01 NaN NaN NaN NaN
2017-04-02 NaN NaN NaN NaN
2017-04-03 NaN NaN NaN NaN
2017-04-04 NaN NaN NaN NaN

In [6]:
df1 = df.reindex(index=df.index[0:4],columns=list(df.columns) + ['E'])
df1

                   A         B         C         D   E
2017-04-01 -0.540900 -1.120177  0.049173  0.055063 NaN
2017-04-02  1.814557  0.416265  0.444505 -0.275219 NaN
2017-04-03 -0.702712  0.061803 -2.354837 -0.621331 NaN
2017-04-04  1.040999  1.447034  0.805599  0.076186 NaN

In [7]:
df1.loc(datas[1:3],'E')=2
df1

SyntaxError: can't assign to function call (<ipython-input-7-a372dcadf253>, line 1)

In [8]:
df1.loc[datas[1:3],'E']=2
df1

                   A         B         C         D    E
2017-04-01 -0.540900 -1.120177  0.049173  0.055063  NaN
2017-04-02  1.814557  0.416265  0.444505 -0.275219  2.0
2017-04-03 -0.702712  0.061803 -2.354837 -0.621331  2.0
2017-04-04  1.040999  1.447034  0.805599  0.076186  NaN

In [9]:
df1.dropna()

                   A         B         C         D    E
2017-04-02  1.814557  0.416265  0.444505 -0.275219  2.0
2017-04-03 -0.702712  0.061803 -2.354837 -0.621331  2.0

In [10]:
df1.fillna(value=5)

                   A         B         C         D    E
2017-04-01 -0.540900 -1.120177  0.049173  0.055063  5.0
2017-04-02  1.814557  0.416265  0.444505 -0.275219  2.0
2017-04-03 -0.702712  0.061803 -2.354837 -0.621331  2.0
2017-04-04  1.040999  1.447034  0.805599  0.076186  5.0

In [11]:
df1

                   A         B         C         D    E
2017-04-01 -0.540900 -1.120177  0.049173  0.055063  NaN
2017-04-02  1.814557  0.416265  0.444505 -0.275219  2.0
2017-04-03 -0.702712  0.061803 -2.354837 -0.621331  2.0
2017-04-04  1.040999  1.447034  0.805599  0.076186  NaN